.loading {
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    //color: #f39c12;
    color: #fff;
    margin: 20px auto;
    background: #2C3E50;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}