.fm-menu {
    padding-top: 4px;
    max-width: 150px;
    //background: #fff;
    //box-shadow: 3px 2px 2px #bbb;
    
    .fm-menu-header {
        font-size: 14px;
        color: #666;
        padding-bottom: 10px;
        font-weight: bold;
    }
    
    .fm-menu-section {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 100px;
    }
    .fm-menu-item {
        cursor: pointer;
        padding-left: 3px;
        padding-bottom: 3px;
        
        &:hover {
            background-color: #dddddd;
        }
    }
    
    .fm-menu-title {
        font-size: 12px;
        font-variant: small-caps;
        font-weight: bold;
        color: #888;
        padding-top: 10px;
    }
    
}