
.session-fail-msg {
  font-type: monospace;
  background: #eee;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.session-fail-img {
  max-height: 400px;
  max-width: 500px;
  float: left;
  padding: 15px;
}

.session-message-error {
  height: 60px;
  background: #E74C3C;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
  
  .session-message-error-text {
    margin: auto;
    width: 70%;
    height: 18px;
    
    a {
      text-decoration: none;
      color: white;
    }
  }
}