.ot-rmb {
  font-size: 9px;
  padding-left: 4px;
}

.ot-center {
    padding-left: auto;
    padding-right: auto;
}

.ot-saved {
  height: 12px;
  width: 12px;
  background: #F69E21;
  padding-right: 12px;
  margin-right: 3px;
}

.ot-submit {
  height: 12px;
  width: 12px;
  background: #5BBE9D;
  padding-right: 12px;
  margin-right: 3px;
}

.ot-paid {
  height: 12px;
  width: 12px;
  background: #5BBE9D;
  padding-right: 12px;
  margin-right: 3px;
}
