.cs-sale {
}

.cs-sale-title {
    font-weight: bold;
    font-size: 18px;
    color: $base-orange;
}

.cs-sale-close {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
    padding-left: 10px;
    display: inline-block;
}

.cs-sale-copy {
    padding-bottom: 15px;
}

.cs-sale-type {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 15px;
}
