.oi-item {
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
    position: relative;
    z-index: 100;
}

.oi-item-header {
    font-size: 20px;
    background-color: #b4bcc2;
    color: #2C3E50;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    position: relative;
}

.oi-item-desc {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.oi-item-price {
    //background-color: #b4bcc2;
    min-height: 40px;
    padding-left: 10px;
    position: relative;
    
    .oi-item-price-non-header, .oi-item-price-mem-header, .oi-item-status-header {
        font-size: 15px;
        font-weight: bold;
        padding-left: auto;
        padding-right: auto;
        text-align: center;
    }
    
    .oi-item-price-non, .oi-item-price-mem {
        padding-left: auto;
        padding-right: auto;
        padding-top: 10px;
        font-style: bold;
        font-size: 24px;
        text-align: center;
    }
    
    .oi-item-status {
        padding-left: auto;
        padding-right: auto;
        padding-top: 10px;
        font-size: 15px;
        text-align: center;
        font-style: bold;
    }
    
    .oi-item-status-instock {
        color: green;
    }
    
    .oi-item-status-outstock {
        color: red;
    }
    
    .oi-item-btn {
        padding-top: 27px;
    }
}

 .oi-item-cart-header {
        font-size: 15px;
        font-weight: bold;
        position: relative;
}

.oi-item-cart {
    background-color: #f39c12;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    
   
    
    .oi-item-cart-glyph {
        font-size: 24px;
        color: #2C3E50;
    }
    
    .oi-item-cart-qty-header {
        font-size: 8px;
    }
    .oi-item-cart-qty {
        font-size: 24px;
    }
    .oi-item-cart-total-header {
        font-size: 8px;
    }
    .oi-item-cart-total {
        font-size: 24px;
    }
}

.oi-rmb {
    padding-left: 4px;
    font-size: 10px;
    position: relative;
}