.cs-sale {
}

.cs-sale-title {
    font-weight: bold;
    font-size: 18px;
    color: $base-orange;
}

.cs-sale-close {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
}

.cs-sale-copy {
    padding-bottom: 15px;
}
