.home-logo {
  height: 40px;
  padding-top: 0px;
  padding-left: 20px;
}

.home-posted-on {
  font-size: 10px;
  display: block;
  float: right;
  padding-top: 10px;
}

.home-post-header {
  font-size: 25px;
  color: #18BC9C;
}

.announcements {
  .ann-header {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    width: 100%;
    margin-bottom: 10px;
  }
  .ann-single-header {
    font-size: 18px;
    color: $base-orange;
    margin-bottom: 5px;
  }
  .ann-single-body {
    margin-bottom: 20px;
  }

}
