.home-logo {
  height: 40px;
  padding-top: 0px;
  padding-left: 20px;
}

.home-posted-on {
  font-size: 10px;
  display: block;
  float: right;
  padding-top: 10px;
}

.home-post-header {
  font-size: 25px;
  color: #18BC9C;
}
