$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap";
$bootstrap-sass-asset-helper: false !default;

//colors
$base-blue-dark: #2C3E50;
$base-orange: #f39c12;

// Pages
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "landing";
@import "home";
@import "checkout";
@import "editsale";
@import "editinventoryitem";
@import "pay";


// Component Styles
@import "comp-sidemenu";
@import "comp-ordertable";
@import "comp-filtermenu";
@import "comp-orderitems";
@import "comp-totalbar";
@import "comp-saletable";
@import "comp-directions";
@import "comp-currentsales";
@import "comp-errorlist";
@import "comp-uploadinventory";
@import "comp-spinner";
@import "comp-loading";
