.pay-container {
    padding-top: 30px;
}

.pay-confirm-header {
    font-size: 20px;
    text-align: center;
    color: #f39c12;
    font-weight: bold;
    padding-bottom: 15px;
}

.pay-confirm-body {
  padding-bottom: 15px;
}

.pay-order {
    margin-top: 15px;
    margin-bottom: 10px;
}

.pay-home-button {
    @media print {
        display: none;
    }
}

.mailto-link-print {
    display: none;
}

.mailto-link-noprint {
    display: inline-block;
}

.pay-print {
    float: right;
}

@media print {
    .pay-home-button {
        display: none;
    }
    
    .mailto-link-print {
        display: inline-block;
    }
    
    .mailto-link-noprint {
        display: none;
    }
    
    .pay-print {
        display: none;
    }
}