.users-stats {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    padding-bottom: 10px;
}

.member-stats {
    width: 100%;

    .stats-header {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .stats-line {
        margin-left: 15px;
        margin-bottom: 2px;
            .stats-figure {
                color: $base-orange;
                font-weight: bold;
            }
    }
}

.member-actions {
    .actions-header {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .actions-button {
        width: 60%;
        margin-left: 15px;
    }
}