https://www.guangzhouaea.org, https://guangzhouaea.org {
gzip
root /code
log stdout
tls guangzhouaea.org.chained.pem guangzhouaea.org.key {
    dir /certs
}
proxy /api/ 127.0.0.1:8080
proxy /images/ 127.0.0.1:8081
}

http://guangzhouaea.org, http://www.guangzhouaea.org {
redir https://www.guangzhouaea.org{uri}
}
